body{
    background-color: rgb(25, 172, 123);
    font-family: 'Courier New', Courier, monospace;
}
.ingredients{
    font-size: small;
}
.steps{
   font-size: small;
}
img{
   border: 1px solid black;
   border-radius: 5px;
   width: 400px;
   height: auto;
}